.fullsize {
  height: 100vh;
}

.general_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  h3 {
    margin: 0;
  }
}

.box-design {
   border-bottom: 1px solid #DBDBDB;
   padding-bottom: 30px;
}

.title-container {
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
  }
}

.animal-actions {
  font-size: 30px;
  align-text: right;
  a {
    color: $green;
    text-decoration: none;
  }
}

.booking-form {
  margin-top: 20px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 20px;
}
