.user-info {
  h3 {
    margin: 0;
  }
  p {
    padding: 0;
    padding-top: 10px;
  }

}

.user-section {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bottom-border {
   border-bottom: 1px solid #DBDBDB;
   padding-bottom: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
  }
}

.animal-actions {
  font-size: 30px;
  align-text: right;
  a {
    color: black;
    text-decoration: none;
  }
}

.booking-form {
  margin-top: 20px;
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 20px;
}

#avatar {
  padding-top: 10px;
}

.image-container {
  width: 100%;
  padding-top: 20px;
  position: sticky;
  top: 0;
}

.row-content {
  display: flex;
}



