.content {
  display: flex;
  align-items: stretch;
}

/* We just give you a Gmaps with random width/height */
#map {
  width: 100%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  padding-right: 20px;
}

.row-titles {
  text-align: center;
}

.wrapper {
  background-color: white;
}
.container{
  border-top: 1px solid lightgrey;
}
