<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://media.giphy.com/media/26n6NrUg9p7hmQweY/giphy.gif')">

  <div class="banner-content text-center">
    <h1>Taxidermy with love</h1>
    <p> “When I make a good mount I feel like I beat God in a small way. As though the Almighty said, Let such critter be dead, and I said, ‘Fuck You, he can still play the banjo.”
― Christopher Buehlman</p>
    <%= link_to "Get Started", animals_path, class: "btnhome btn-lg btn-warning"%>
  </div>

</div>
