<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://static.pexels.com/photos/416202/pexels-photo-416202.jpeg')">

  <div class="banner-content text-center">
    <h1>Taxidermy with love</h1>
    <p> “Les bêtes n’ont pas seulement moins de raison que les hommes, elles n’en ont point du tout”. René Descartes</p>
    <%= link_to "Get Started", animals_path, class: "btn btn-lg btn-warning"%>
  </div>

</div>
