<h1>Animal List</h1>

<% @animals.each do |animal| %>
  <%= link_to animal_path(animal) do %>
  <p><%= animal.title %></p>
  <p><%= animal.daily_price %> €</p>
  <% end %>
<% end %>

<%= link_to 'New Animal', new_animal_path %>


    <div class="card" style="background-image: url(images/rio.jpg)">Rio
    </div>
    <div class="card" style="background-image: url(images/berlin.jpg)">
      Berlin
    </div>
    <div class="card" style="background-image: url(images/shanghai.jpg)">
      Shanghai
    </div>
    <div class="card" style="background-image: url(images/barcelona.jpg)">
      Barcelona
    </div>

    <div id="map"></div>
