
<div class="wrapper">
  <div class="container">
    <div class="banner">

    </div>
    <div class="row">
      <div class="col-xs-8">
          <h1><%= @animal.title %></h1>
          <p> <%= @animal.description %> </p>
      </div>
      <div class="col-xs-4">
        <div class="map-container">
          <div class="profile_picture " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @animal.photo, crop: :fill %>')">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
