.card-container {
  height: 270px;
}
.card {
  height: 200px;
  width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 0;
  // margin-bottom: 20px;
  border-radius: 5px;
}
.card-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  text-transform: uppercase;
}
.card-link {
   background: black;
   opacity: 1;
}
.card:hover {
  opacity: 0.7;
}

.card-info {
  #price, #rating {
    margin: 0;
    color: black;
  }
  li {
    padding: 0;
  }
}

#rating {
  padding-right: 10px;
}

.stars {
  display: flex;
  justify-content: left;
  li {
    color: #C62727;
  }
}

#no-review {
  color: rgb(180, 180, 180);
}
