.animal-form {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.btn-death {
  background-color: black;
  color: white;
  :hover {
    opacity: 0.7;
    color: black;
  }
}
