.message-container a {
  text-decoration: none;
}
.message {
  background: white;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 2px solid black;
}

.message:hover {
  background: #FFFFE0;
}

.message .avatar {
  margin: 0px;
}

.message-body {
  flex-grow: 1;
  padding-left: 20px;
  color: rgba(0,0,0,0.7);
}

.message-body p {
  margin-bottom: 5px;
}

.message-body h3 {
  font-size: 13px;
  font-weight: lighter;
  margin: 0px;
}
.message-body strong {
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}

.message-name {
  padding-left: 10px;
  min-width: 150px;
  color: rgba(0,0,0,0.7);
}
.message-name h2 {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  margin-bottom: 0px;
}

.message-actions {
}

.message-status {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

